h2{
  color : blue;
}
.vl{
  color: blue;
}
.abcxyz{
  color: red;
  margin-top: 30px;
  margin-bottom: 30px;
}
.InDam{
  border-top: 20px;
  color: blue;
}
.title{
  color: red;
  background-color: blue;
  margin-left: 15px;
}
.ahihi{
  background-color: blue;
}
.fuck{
  background-color: yellow;
}
.troidu{
  margin-top: 50px;
  margin-bottom: 50px;
color: red;
}
.lenluon{
  background-color: green;
}
.phim{
  background-color: green;
}
.quaylen{
  background-color: green;
}
.lenlocnha{
  margin-bottom: 20px;
}
